@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin sections {
    height: 100vh;
    width: 100%;
    padding: 7rem 6vw;
}

@mixin heading {
    font-size: 4rem;
    font-family: 'Syncopate';
    font-weight: bold;
}
@mixin contact-cards {
    @include flexCenter;
      flex-direction: column;
      width: 100%;
      img{
        width: 4rem;
      }
      h1{
          text-transform: capitalize;
          color: $darkpurple;
      }
      h4{
          color: $darkgray;
      }
}