@import "var";
@import "mixin";
@import "fonts";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  font-family: "monstserrat", sans-serif;
}
html {
  font-size: 10px;
}

// Navbar starting
nav {
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  width: 100%;
  min-height: 9vh;
  align-items: center;
  justify-content: space-between;
  padding: 5px 4%;
  position: fixed;
  z-index: 10;
  font-family: "montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  span {
    color: $gray;
    font-size: 1.6rem;
    font-family: "Syncopate";
    font-weight: bold;
    a {
      text-decoration: none;
      color: $purple;
    }
  }

  .hamburger {
    height: 1rem;
    width: 30px;
    position: relative;
    z-index: 1;
    &::after {
      content: "";
      position: absolute;
      height: 0.3rem;
      width: 2.5rem;
      background: $green;
      transition: 0.4s;
    }
    &::before {
      content: "";
      position: absolute;
      height: 0.3rem;
      width: 2.5rem;
      background: $green;
      margin-top: 6px;
      transition: 0.4s;
    }
  }
  .navLinks {
    @include flexCenter;
    line-height: 4rem;
    text-transform: uppercase;
    background-color: black;
    position: fixed;
    height: 100vh;
    width: 100%;
    right: -100%;
    top: 0;
    transition: 0.4s ease-in-out;

    ul {
      list-style: none;
      text-align: center;
    }
    li a {
      text-decoration: none;
      color: white;
      font-size: 2rem;
      transition: 0.2s;
      &:hover{
        color: $purple;
      }
    }
  }

  .show {
    right: 0%;
  }
  .ham::after {
    transform: rotate(40deg);
  }
  .ham::before {
    transform: rotate(-40deg);
    margin-top: 0;
  }
}
// Navbar endingz

// Home starting

#home {
  @include sections;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color: #0093e9;
  background: linear-gradient(
    55deg,
    #212121 0%,
    #212121 40%,
    #323232 calc(40% + 1px),
    #323232 60%,
    #008f95 calc(60% + 1px),
    #008f95 70%,
    #14ffec calc(70% + 1px),
    #14ffec 100%
  );

  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
  }
  button {
    width: 150px;
    height: 60px;
    font-weight: bold;
    letter-spacing: 2px;
    background: transparent;
    color: white;
    border: 2px solid $green;
    border-radius: 10px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      background: $green;
      color: black;
    }
  }
  .coverText {
    width: 100%;
    padding: 10%;
    text-align: center;

    .greetings {
      font-size: 3rem;
      color: white;
    }
    p {
      font-size: 2.6rem;
      color: $gray;
    }
    .myname {
      font-size: 3.5rem;
      font-family: "Syncopate";
      letter-spacing: 2px;
      font-weight: 600;
    }

    .hl {
      color: transparent;
      -webkit-text-stroke: 2px $green;
      text-transform: uppercase;
    }
  }
}

// Home ending

//About starting
#about {
  @include sections;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  .about-heading {
    @include heading;
    color: white;
  }
  .aboutContent {
    width: 100%;
    @include flexCenter;
    flex-direction: column;
    img {
      margin-top: 4rem;
      width: 60%;
      border-radius: 50%;
    }
    p {
      margin-top: 3rem;
      color: white;
      font-size: 1.2rem;
      padding: 1.5rem;
      text-align: center;
      line-height: 2rem;
    }
  }
}
//About ending

// work starting
#work {
  @include sections;
  display: flex;
  flex-direction: column;
  align-items: center;
  .work-heading {
    @include heading;
  }
  .wrapper {
    width: 100%;
  }
  .carousel {
    max-width: 1200px;
    margin: auto;
    .card {
      text-align: center;
      border-radius: 10px;
      height: 60vh;
      padding: 15% 10%;
      margin: 50px 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      background: $darkpurple;
      text-align: center;
      .name {
        font-family: "Syncopate", sans-serif;
        font-size: 2.2rem;
        font-weight: bold;
        color: $green;
        text-transform: uppercase;
      }
      .description {
        color: white;
        font-size: 1.4rem;
        text-align: center;
      }
      a {
        text-decoration: none;
        color: $green;
        font-size: 1.5rem;
        border: 2px solid $green;
        width: 10rem;
        padding: 1rem;
        border-radius: 10px;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
}
// work ending

// skills starting
#skills {
  @include sections;
  display: flex;
  background: black;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  .skills-heading {
    @include heading;
    color: white;
  }

  .content {
    height: 70%;
    .tagcloud {
      color: white;
      font-size: 2rem;
    }
  }
}
// skills ending

// contact starting
footer {
  @include sections;
  // @include heading;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  .footer-heading {
    @include heading;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 40vh;
  }
  .social {
    height: 20vh;
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    a img {
      width: 4em;
    }
  }
  .mail {
    @include contact-cards;
  }
  .address {
    @include contact-cards;
  }
  .phone {
    @include contact-cards;
  }
}
// contact ending

// leveling up one day at a time.
// media
@media only screen and (min-width: 600px) {
  nav {
    .logo {
      font-size: 2.5rem;
    }
    .hamburger {
      width: 50px;
      height: 2rem;
      &::after {
        width: 4rem;
      }
      &::before {
        width: 4rem;
      }
    }
  }
  #home {
    .coverText {
      .greetings {
        font-size: 4rem;
      }
      .myname {
        font-size: 6rem;
      }
      p {
        font-size: 3rem;
      }
    }
  }

  #about {
    justify-content: center;

    .about-heading {
      font-size: 5rem;
    }
    .aboutContent {
      justify-content: space-around;
      flex-direction: row;

      img {
        width: 40%;
        border-radius: 0%;
      }
      p {
        width: 60%;
        font-size: 2rem;
        line-height: 2.5rem;
        text-align: left;
      }
    }
  }
  #work {
    .work-heading {
      font-size: 6rem;
    }
    .carousel {
      .card {
        .name {
          font-size: 4rem;
        }
        .description {
          font-size: 2rem;
          text-align: center;
        }
        a {
          width: 20rem;
        }
      }
    }
  }
  #skills {
    .skills-heading {
      font-size: 6rem;
    }
  }
  footer {
    .footer-heading {
      font-size: 6rem;
    }
    .social {
      a img {
        width: 5em;
      }
    }

    .mail {
      img {
        width: 5rem;
      }
      h1 {
        font-size: 3rem;
      }
      h4 {
        font-size: 1.5rem;
      }
    }
    .address {
      img {
        width: 5rem;
      }
      h1 {
        font-size: 3rem;
      }
      h4 {
        font-size: 1.5rem;
      }
    }
    .phone {
      img {
        width: 5rem;
      }
      h1 {
        font-size: 3rem;
      }
      h4 {
        font-size: 1.5rem;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  nav {
    .logo {
      font-size: 1.8rem;
    }

    .hamburger {
      display: none;
    }
    .navLinks {
      right: 0%;
      display: block;
      height: inherit;
      background: none;
      position: static;
      width: 35vw;
      ul {
        display: flex;
        justify-content: space-between;
      }
      li {
        display: inline-block;
      }
      li a {
        font-size: 1.6rem;
      }
    }
  }

  #home {
    .coverText {
      .greetings {
        font-size: 4rem;
      }
      .myname {
        font-size: 6rem;
      }
      p {
        font-size: 3rem;
      }
    }
  }

  #about {
    .aboutContent {
      img {
        width: 30%;
      }
      p {
        font-size: 1.7rem;
      }
    }
  }

  #work {
    .work-heading {
      font-size: 6rem;
    }
    .carousel {
      .card {
        .name {
          font-size: 2.2rem;
        }
        .description {
          font-size: 1.3rem;
          text-align: center;
          line-height: 1.6rem;
        }
        a {
          width: 10rem;
          font-size: 1.2rem;
          transition: 0.2s;
          &:hover {
            background: $green;
            color: white;
          }
        }
      }
    }
  }
  #skills {
    .skills-heading {
      font-size: 6rem;
    }
  }
  footer {
    .copyright {
      font-size: 1.6rem;
    }
    .info {
      flex-direction: row;
    }
  }
}

@media only screen and (min-width: 1200px) {
  nav {
    .logo {
      font-size: 2.3rem;
    }
    .navLinks {
      li a {
        font-size: 2rem;
      }
    }
  }
  #home {
    padding: 9rem 6vw;
  }
  #about {
    padding: 9rem 6vw;
  }
  #skills {
    padding: 9rem 6vw;
  }
  #work {
    padding: 9rem 6vw;
  }
  #contact {
    padding: 9rem 6vw;
    .social {
      width: 50%;
    }
  }
}
@media only screen and (min-width: 1370px) {
  nav {
    .logo {
      font-size: 3rem;
    }
    .navLinks {
      li a {
        font-size: 2.5rem;
      }
    }
  }
  #home {
    padding: 9rem 6vw;
    background: linear-gradient(
      55deg,
      #212121 0%,
      #212121 40%,
      #323232 calc(40% + 1px),
      #323232 60%,
      #008f95 calc(60% + 1px),
      #008f95 70%,
      #14ffec calc(70% + 1px),
      #14ffec 100%
    );

    .coverText {
      .greetings {
        font-size: 7rem;
      }
      .myname {
        font-size: 8rem;
      }
      p {
        font-size: 5rem;
      }
    }
    button {
      width: 20rem;
      height: 7rem;
      font-size: 1.8rem;
    }
  }
  #about {
    padding: 12rem 6vw;
    .about-heading {
      font-size: 7rem;
    }
    .aboutContent {
      p {
        font-size: 3rem;
        line-height: 4rem;
      }
    }
  }
  #skills {
    padding: 12rem 6vw;
    .skills-heading {
      font-size: 7rem;
    }
  }
  #work {
    padding: 12rem 6vw;
    .work-heading {
      font-size: 7rem;
    }
    .carousel {
      .card {
        .name {
          font-size: 3.5rem;
        }
        .description {
          font-size: 1.6rem;
          line-height: 2.5rem;
        }
        a {
          font-size: 1.8rem;
        }
      }
    }
  }
  #contact {
    padding: 12rem 6vw;
    .footer-heading {
      font-size: 7rem;
    }
    .social {
      width: 50%;
    }
    .info {
      img {
        width: 10rem;
      }
      h1 {
        text-transform: capitalize;
        font-size: 4.2rem;
        color: $darkpurple;
      }
      h4 {
        color: $darkgray;
        font-size: 2rem;
      }
    }
  }
}
